.character_emblem {
    align-items: right;
    margin: 0;
}
.character_emblem > h1 {
    margin: 0;
    width: 100%;
}
.character_emblem > div {
    margin: 0;
    display: block;
    width: 100%;
    align-items: right;
}
.character_emblem > h1 {
    margin: 0;
}